<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                <tr>
                    <td>{{ todo_list.name }}</td>
                    <td>todo_list.items.count</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>